SWLNGAAP/App_WebReferences/SWADNETGAAP/SWADNETGAAP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51634/SWADNETGAAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EGCelular">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAreaCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCelular" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroCelular" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EGCelular" nillable="true" type="tns:EGCelular" />
  <xs:complexType name="EGUsuarioProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoUsuarioProyecto" type="ser:char" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EGUsuarioProyecto" nillable="true" type="tns:EGUsuarioProyecto" />
  <xs:complexType name="EGProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlcanceProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnlaceDocumentoProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoProyecto" type="ser:char" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModalidadProyecto" type="ser:char" />
      <xs:element minOccurs="0" name="NumeroRevisiones" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ObjetivoGeneralProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjetivosEspecificosProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TituloProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EGProyecto" nillable="true" type="tns:EGProyecto" />
</xs:schema>