WAGAAP/App_WebReferences/SWLNGAAP/SWLNGAAP1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Insertar_GUsuarioRol_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuarioRol" type="xs:int" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GUsuarioRol_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioRol_O_CodigoRolResult" nillable="true" type="q1:ArrayOfEGUsuarioRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioRol_O_CodigoUsuarioResult" nillable="true" type="q2:ArrayOfEGUsuarioRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResult" nillable="true" type="q3:EGUsuarioRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuarioRol_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuarioRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuarioRol_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GUsuarioRol_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GUsuarioRol_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GUsuarioProyecto_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuarioProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoUsuarioProyecto" type="q4:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GUsuarioProyecto_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioProyecto_O_CodigoProyectoResult" nillable="true" type="q5:ArrayOfEGUsuarioProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioProyecto_O_CodigoUsuarioResult" nillable="true" type="q6:ArrayOfEGUsuarioProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResult" nillable="true" type="q7:EGUsuarioProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuarioProyecto_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuarioProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoUsuarioProyecto" type="q8:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuarioProyecto_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GUsuarioProyecto_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuarioProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GUsuarioProyecto_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GProyecto_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="modalidadProyecto" type="q9:char" />
        <xs:element minOccurs="0" name="tituloProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objetivoGeneralProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objetivosEspecificosProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alcanceProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enlaceDocumentoProyecto" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoProyecto" type="q10:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GProyecto_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GProyecto_O_CodigoProyectoResult" nillable="true" type="q11:EGProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GProyecto_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGProyecto" nillable="true" type="q12:EGProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GProyecto_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GEtapa_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="numeroEtapa" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="fechaInicioEtapa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaDefinidaEtapa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinEtapa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoEtapa" type="q13:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GEtapa_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_SiguienteCodigoEtapa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_SiguienteCodigoEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GEtapa_O_SiguienteCodigoEtapaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GEtapa_O_CodigoProyectoResult" nillable="true" type="q14:ArrayOfEGEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoEtapa" type="q15:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaResult" nillable="true" type="q16:EGEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSubEtapa" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResult" nillable="true" type="q17:EGEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GEtapa_A_EstadoEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoEtapa" type="q18:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GEtapa_A_EstadoEtapaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GFormularioAceptacion_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGFormularioAceptacion" nillable="true" type="q19:EGFormularioAceptacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GFormularioAceptacion_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GFormularioAceptacion_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGFormularioAceptacion" nillable="true" type="q20:EGFormularioAceptacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GFormularioAceptacion_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GFormularioAceptacion_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GFormularioAceptacion_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GFormularioAceptacion_O_CodigoProyectoResult" nillable="true" type="q21:ArrayOfEGFormularioAceptacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GSubEtapa_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSubEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuarioFirmaSubEtapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRolDesignadoSubEtapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSubEtapa" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="fechaInicioSubEtapa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaDefinidaSubEtapa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinSubEtapa" type="xs:dateTime" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoSubEtapa" type="q22:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GSubEtapa_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GSubEtapa_O_CodigoEtapaResult" nillable="true" type="q23:ArrayOfEGSubEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoSubEtapa" type="q24:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaResult" nillable="true" type="q25:EGSubEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="numeroSubEtapa" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResult" nillable="true" type="q26:EGSubEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuarioFirmaSubEtapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSubEtapa" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoSubEtapa" type="q27:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Etapa_SubEtapa_SaltarASubEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSubEtapaASaltar" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Etapa_SubEtapa_SaltarASubEtapaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GSubEtapa_A_EstadoSubEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSubEtapa" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoSubEtapa" type="q28:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GSubEtapa_A_EstadoSubEtapaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GObservacion_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoObservacion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSubEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuarioObservacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comentarioObservacion" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tipoObservacion" type="q29:char" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoObservacion" type="q30:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GObservacion_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObservacion_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObservacion_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GObservacion_O_CodigoProyectoResult" nillable="true" type="q31:ArrayOfEGObservacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObservacion_O_CodigoObservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoObservacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObservacion_O_CodigoObservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GObservacion_O_CodigoObservacionResult" nillable="true" type="q32:EGObservacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GObservacion_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoObservacion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSubEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuarioObservacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comentarioObservacion" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tipoObservacion" type="q33:char" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoObservacion" type="q34:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GObservacion_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GObservacion_A_EstadoObservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoObservacion" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="estadoObservacion" type="q35:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GObservacion_A_EstadoObservacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObsevacion_O_SiguienteCodigoObservacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GObsevacion_O_SiguienteCodigoObservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GObsevacion_O_SiguienteCodigoObservacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GUsuario_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompletoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GUsuario_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuario_O_CodigoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuario_O_CodigoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuario_O_CodigoUsuarioResult" nillable="true" type="q36:EGUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarios_O_CodigoProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuarios_O_CodigoProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuarios_O_CodigoProyectoResult" nillable="true" type="q37:ArrayOfEGUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuario_O_NombreCompletoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompletoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GUsuario_O_NombreCompletoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GUsuario_O_NombreCompletoUsuarioResult" nillable="true" type="q38:EGUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_GUsuario_B_NombreCompletoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompletoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar_GUsuario_B_NombreCompletoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Buscar_GUsuario_B_NombreCompletoUsuarioResult" nillable="true" type="q39:ArrayOfEGUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuario_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompletoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GUsuario_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GRol_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GRol_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GRol_OResult" nillable="true" type="q40:ArrayOfEGRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GRol_O_CodigoRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GRol_O_CodigoRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GRol_O_CodigoRolResult" nillable="true" type="q41:EGRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UsuarioNetvalle_O_CodigoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_UsuarioNetvalle_O_CodigoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_UsuarioNetvalle_O_CodigoUsuarioResult" nillable="true" type="q42:EUsuarioNetvalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GCelular_O_SiguienteCodigoCelular">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GCelular_O_SiguienteCodigoCelularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_GCelular_O_SiguienteCodigoCelularResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GCelular_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAreaCelular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCelular" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GCelular_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GCelular_O_CodigoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GCelular_O_CodigoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GCelular_O_CodigoUsuarioResult" nillable="true" type="q43:EGCelular" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GCelular_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCelular" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAreaCelular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCelular" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GCelular_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GCelular_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCelular" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GCelular_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GTutorExterno_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompletoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carreraTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionTrabajoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedeTutorExterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_GTutorExterno_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GTutorExterno_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompletoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carreraTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionTrabajoTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionTutorExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedeTutorExterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_GTutorExterno_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GTutorExterno_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GTutorExterno_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GTutorExterno_OResult" nillable="true" type="q44:ArrayOfEGTutorExterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GTutorExterno_O_CodigoTutorExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTutorExterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GTutorExterno_O_CodigoTutorExternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GTutorExterno_O_CodigoTutorExternoResult" nillable="true" type="q45:EGTutorExterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GTutorExterno_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTutorExterno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_GTutorExterno_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoUsuario_ProyectoComplejaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GProyecto_O_CodigoUsuario_ProyectoComplejaResult" nillable="true" type="q46:ArrayOfEProyectoCompleja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_TodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_TodosResult" nillable="true" type="q47:ArrayOfEProyectoCompleja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verificar_GProyecto_CorrespondeRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eGSubEtapa" nillable="true" type="q48:EGSubEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verificar_GProyecto_CorrespondeRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Verificar_GProyecto_CorrespondeRevisionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Etapa_SubEtapa_AvanzarEnFlujo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoRol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Etapa_SubEtapa_AvanzarEnFlujoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProyectoCompleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuarioEstudiante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuarioDirector" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoUsuarioDAAP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diasEtapa" type="xs:int" />
        <xs:element minOccurs="0" name="diasSubEtapa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ProyectoCompletoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EUsuarioCompleto_O">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EUsuarioCompleto_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_EUsuarioCompleto_OResult" nillable="true" type="q49:EUsuarioCompleto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Descifrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescifradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DescifradoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cifrar_Cadena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textoACifrar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cifrar_CadenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cifrar_CadenaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_Id_Emp_SedeAcademica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Empleado_Id_Emp_SedeAcademicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Obtener_Empleado_Id_Emp_SedeAcademicaResult" nillable="true" type="q50:TupleOfEEmpleadoEMensajeErroraI91Yjnm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EmpleadoFotografia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EmpleadoFotografiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Obtener_EmpleadoFotografiaResult" nillable="true" type="q51:TupleOfbase64BinaryEMensajeErrorlLTIrbuF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>