WAGAAP/App_WebReferences/SWLNGAAP/SWLNGAAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWLNGAAP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWLNGAAP_Insertar_GCelular_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GCelular_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GCelular_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GCelular_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GCelular_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GCelular_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GCelular_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GCelular_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GCelular_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GCelular_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GCelular_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GCelular_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GProyecto_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GProyecto_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWLNGAAP">
    <wsdl:operation name="Insertar_GCelular_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_I" message="tns:ISWLNGAAP_Insertar_GCelular_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_IResponse" message="tns:ISWLNGAAP_Insertar_GCelular_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O" message="tns:ISWLNGAAP_Obtener_GCelular_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_OResponse" message="tns:ISWLNGAAP_Obtener_GCelular_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GCelular_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_A" message="tns:ISWLNGAAP_Actualizar_GCelular_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_AResponse" message="tns:ISWLNGAAP_Actualizar_GCelular_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GCelular_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_E" message="tns:ISWLNGAAP_Eliminar_GCelular_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_EResponse" message="tns:ISWLNGAAP_Eliminar_GCelular_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O" message="tns:ISWLNGAAP_Obtener_GProyecto_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_OResponse" message="tns:ISWLNGAAP_Obtener_GProyecto_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_A" message="tns:ISWLNGAAP_Actualizar_GProyecto_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_AResponse" message="tns:ISWLNGAAP_Actualizar_GProyecto_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacion" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacionResponse" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWLNGAAP" type="tns:ISWLNGAAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_GCelular_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GCelular_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GCelular_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWLNGAAP">
    <wsdl:port name="BasicHttpBinding_ISWLNGAAP" binding="tns:BasicHttpBinding_ISWLNGAAP">
      <soap:address location="http://localhost:51705/SWLNGAAP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>