WAGAAP/App_WebReferences/SWLNGAAP/SWLNGAAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWLNGAAP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51705/SWLNGAAP.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuarioRol_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioRol_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuarioRol_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioRol_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuarioRol_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioRol_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuarioRol_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioRol_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GUsuarioRol_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GUsuarioRol_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GUsuarioRol_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GUsuarioRol_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuarioProyecto_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioProyecto_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuarioProyecto_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioProyecto_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuarioProyecto_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioProyecto_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuarioProyecto_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioProyecto_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GUsuarioProyecto_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GUsuarioProyecto_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GUsuarioProyecto_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GUsuarioProyecto_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GProyecto_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GProyecto_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GProyecto_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GProyecto_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GProyecto_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GProyecto_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GEtapa_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GEtapa_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GEtapa_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GEtapa_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_SiguienteCodigoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_SiguienteCodigoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_SiguienteCodigoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_SiguienteCodigoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GEtapa_A_EstadoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GEtapa_A_EstadoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GEtapa_A_EstadoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GEtapa_A_EstadoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GFormularioAceptacion_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GFormularioAceptacion_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GFormularioAceptacion_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GFormularioAceptacion_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GFormularioAceptacion_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GFormularioAceptacion_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GFormularioAceptacion_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GFormularioAceptacion_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GFormularioAceptacion_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GFormularioAceptacion_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GFormularioAceptacion_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GFormularioAceptacion_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GSubEtapa_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GSubEtapa_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GSubEtapa_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GSubEtapa_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_Etapa_SubEtapa_SaltarASubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Etapa_SubEtapa_SaltarASubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_Etapa_SubEtapa_SaltarASubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Etapa_SubEtapa_SaltarASubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GSubEtapa_A_EstadoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_EstadoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GSubEtapa_A_EstadoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_EstadoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GObservacion_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GObservacion_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GObservacion_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GObservacion_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObservacion_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObservacion_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObservacion_O_CodigoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObservacion_O_CodigoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObsevacion_O_SiguienteCodigoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObsevacion_O_SiguienteCodigoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GObsevacion_O_SiguienteCodigoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObsevacion_O_SiguienteCodigoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuario_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuario_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GUsuario_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuario_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuario_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuario_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarios_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarios_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuarios_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarios_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuario_O_NombreCompletoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_NombreCompletoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GUsuario_O_NombreCompletoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_NombreCompletoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Buscar_GUsuario_B_NombreCompletoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_GUsuario_B_NombreCompletoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Buscar_GUsuario_B_NombreCompletoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buscar_GUsuario_B_NombreCompletoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuario_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuario_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GUsuario_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuario_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GRol_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GRol_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GRol_O_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GRol_O_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_UsuarioNetvalle_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_UsuarioNetvalle_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_UsuarioNetvalle_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_UsuarioNetvalle_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_SiguienteCodigoCelular_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_O_SiguienteCodigoCelular" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_SiguienteCodigoCelular_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_O_SiguienteCodigoCelularResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GCelular_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GCelular_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GCelular_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GCelular_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GCelular_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GCelular_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GCelular_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GCelular_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GCelular_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GCelular_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GCelular_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GCelular_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GCelular_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GCelular_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GTutorExterno_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GTutorExterno_I" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_GTutorExterno_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GTutorExterno_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GTutorExterno_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GTutorExterno_A" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_GTutorExterno_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GTutorExterno_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GTutorExterno_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GTutorExterno_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GTutorExterno_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GTutorExterno_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GTutorExterno_O_CodigoTutorExterno_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GTutorExterno_O_CodigoTutorExterno" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GTutorExterno_O_CodigoTutorExterno_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GTutorExterno_O_CodigoTutorExternoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GTutorExterno_E_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GTutorExterno_E" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Eliminar_GTutorExterno_E_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_GTutorExterno_EResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoUsuario_ProyectoComplejaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_TodosResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Verificar_GProyecto_CorrespondeRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:Verificar_GProyecto_CorrespondeRevision" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Verificar_GProyecto_CorrespondeRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:Verificar_GProyecto_CorrespondeRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_Etapa_SubEtapa_AvanzarEnFlujo_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Etapa_SubEtapa_AvanzarEnFlujo" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Actualizar_Etapa_SubEtapa_AvanzarEnFlujo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Etapa_SubEtapa_AvanzarEnFlujoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_ProyectoCompleto_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_ProyectoCompleto" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Insertar_ProyectoCompleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_ProyectoCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_EUsuarioCompleto_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_EUsuarioCompleto_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_EUsuarioCompleto_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_EUsuarioCompleto_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Descifrado_InputMessage">
    <wsdl:part name="parameters" element="tns:Descifrado" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Descifrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescifradoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Cifrar_Cadena_InputMessage">
    <wsdl:part name="parameters" element="tns:Cifrar_Cadena" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Cifrar_Cadena_OutputMessage">
    <wsdl:part name="parameters" element="tns:Cifrar_CadenaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_Empleado_Id_Emp_SedeAcademica_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Empleado_Id_Emp_SedeAcademica" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_Empleado_Id_Emp_SedeAcademica_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Empleado_Id_Emp_SedeAcademicaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_EmpleadoFotografia_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_EmpleadoFotografia" />
  </wsdl:message>
  <wsdl:message name="ISWLNGAAP_Obtener_EmpleadoFotografia_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_EmpleadoFotografiaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWLNGAAP">
    <wsdl:operation name="Insertar_GUsuarioRol_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioRol_I" message="tns:ISWLNGAAP_Insertar_GUsuarioRol_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioRol_IResponse" message="tns:ISWLNGAAP_Insertar_GUsuarioRol_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoRol" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoRolResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuario" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioRol_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioRol_A" message="tns:ISWLNGAAP_Actualizar_GUsuarioRol_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioRol_AResponse" message="tns:ISWLNGAAP_Actualizar_GUsuarioRol_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GUsuarioRol_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioRol_E" message="tns:ISWLNGAAP_Eliminar_GUsuarioRol_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioRol_EResponse" message="tns:ISWLNGAAP_Eliminar_GUsuarioRol_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuarioProyecto_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioProyecto_I" message="tns:ISWLNGAAP_Insertar_GUsuarioProyecto_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioProyecto_IResponse" message="tns:ISWLNGAAP_Insertar_GUsuarioProyecto_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuario" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioProyecto_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioProyecto_A" message="tns:ISWLNGAAP_Actualizar_GUsuarioProyecto_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioProyecto_AResponse" message="tns:ISWLNGAAP_Actualizar_GUsuarioProyecto_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GUsuarioProyecto_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioProyecto_E" message="tns:ISWLNGAAP_Eliminar_GUsuarioProyecto_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioProyecto_EResponse" message="tns:ISWLNGAAP_Eliminar_GUsuarioProyecto_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GProyecto_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GProyecto_I" message="tns:ISWLNGAAP_Insertar_GProyecto_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GProyecto_IResponse" message="tns:ISWLNGAAP_Insertar_GProyecto_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_A" message="tns:ISWLNGAAP_Actualizar_GProyecto_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_AResponse" message="tns:ISWLNGAAP_Actualizar_GProyecto_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GEtapa_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GEtapa_I" message="tns:ISWLNGAAP_Insertar_GEtapa_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GEtapa_IResponse" message="tns:ISWLNGAAP_Insertar_GEtapa_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_SiguienteCodigoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_SiguienteCodigoEtapa" message="tns:ISWLNGAAP_Obtener_GEtapa_O_SiguienteCodigoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_SiguienteCodigoEtapaResponse" message="tns:ISWLNGAAP_Obtener_GEtapa_O_SiguienteCodigoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaResponse" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResponse" message="tns:ISWLNGAAP_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GEtapa_A_EstadoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GEtapa_A_EstadoEtapa" message="tns:ISWLNGAAP_Actualizar_GEtapa_A_EstadoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GEtapa_A_EstadoEtapaResponse" message="tns:ISWLNGAAP_Actualizar_GEtapa_A_EstadoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GFormularioAceptacion_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GFormularioAceptacion_I" message="tns:ISWLNGAAP_Insertar_GFormularioAceptacion_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GFormularioAceptacion_IResponse" message="tns:ISWLNGAAP_Insertar_GFormularioAceptacion_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GFormularioAceptacion_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GFormularioAceptacion_A" message="tns:ISWLNGAAP_Actualizar_GFormularioAceptacion_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GFormularioAceptacion_AResponse" message="tns:ISWLNGAAP_Actualizar_GFormularioAceptacion_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GFormularioAceptacion_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GFormularioAceptacion_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GFormularioAceptacion_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion" message="tns:ISWLNGAAP_Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacionResponse" message="tns:ISWLNGAAP_Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GSubEtapa_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GSubEtapa_I" message="tns:ISWLNGAAP_Insertar_GSubEtapa_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GSubEtapa_IResponse" message="tns:ISWLNGAAP_Insertar_GSubEtapa_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResponse" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapaResponse" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaResponse" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResponse" message="tns:ISWLNGAAP_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa" message="tns:ISWLNGAAP_Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapaResponse" message="tns:ISWLNGAAP_Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Etapa_SubEtapa_SaltarASubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_SaltarASubEtapa" message="tns:ISWLNGAAP_Actualizar_Etapa_SubEtapa_SaltarASubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_SaltarASubEtapaResponse" message="tns:ISWLNGAAP_Actualizar_Etapa_SubEtapa_SaltarASubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_EstadoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_EstadoSubEtapa" message="tns:ISWLNGAAP_Actualizar_GSubEtapa_A_EstadoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_EstadoSubEtapaResponse" message="tns:ISWLNGAAP_Actualizar_GSubEtapa_A_EstadoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GObservacion_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GObservacion_I" message="tns:ISWLNGAAP_Insertar_GObservacion_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GObservacion_IResponse" message="tns:ISWLNGAAP_Insertar_GObservacion_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GObservacion_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GObservacion_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoObservacion" message="tns:ISWLNGAAP_Obtener_GObservacion_O_CodigoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoObservacionResponse" message="tns:ISWLNGAAP_Obtener_GObservacion_O_CodigoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_AResponse" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacion" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacionResponse" message="tns:ISWLNGAAP_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObsevacion_O_SiguienteCodigoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObsevacion_O_SiguienteCodigoObservacion" message="tns:ISWLNGAAP_Obtener_GObsevacion_O_SiguienteCodigoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GObsevacion_O_SiguienteCodigoObservacionResponse" message="tns:ISWLNGAAP_Obtener_GObsevacion_O_SiguienteCodigoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuario_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuario_I" message="tns:ISWLNGAAP_Insertar_GUsuario_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GUsuario_IResponse" message="tns:ISWLNGAAP_Insertar_GUsuario_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_CodigoUsuario" message="tns:ISWLNGAAP_Obtener_GUsuario_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_CodigoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_GUsuario_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarios_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarios_O_CodigoProyecto" message="tns:ISWLNGAAP_Obtener_GUsuarios_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarios_O_CodigoProyectoResponse" message="tns:ISWLNGAAP_Obtener_GUsuarios_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_NombreCompletoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_NombreCompletoUsuario" message="tns:ISWLNGAAP_Obtener_GUsuario_O_NombreCompletoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_NombreCompletoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_GUsuario_O_NombreCompletoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar_GUsuario_B_NombreCompletoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Buscar_GUsuario_B_NombreCompletoUsuario" message="tns:ISWLNGAAP_Buscar_GUsuario_B_NombreCompletoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Buscar_GUsuario_B_NombreCompletoUsuarioResponse" message="tns:ISWLNGAAP_Buscar_GUsuario_B_NombreCompletoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuario_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuario_A" message="tns:ISWLNGAAP_Actualizar_GUsuario_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuario_AResponse" message="tns:ISWLNGAAP_Actualizar_GUsuario_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GRol_O" message="tns:ISWLNGAAP_Obtener_GRol_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GRol_OResponse" message="tns:ISWLNGAAP_Obtener_GRol_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GRol_O_CodigoRol" message="tns:ISWLNGAAP_Obtener_GRol_O_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GRol_O_CodigoRolResponse" message="tns:ISWLNGAAP_Obtener_GRol_O_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_UsuarioNetvalle_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_UsuarioNetvalle_O_CodigoUsuario" message="tns:ISWLNGAAP_Obtener_UsuarioNetvalle_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_UsuarioNetvalle_O_CodigoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_UsuarioNetvalle_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O_SiguienteCodigoCelular">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_SiguienteCodigoCelular" message="tns:ISWLNGAAP_Obtener_GCelular_O_SiguienteCodigoCelular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_SiguienteCodigoCelularResponse" message="tns:ISWLNGAAP_Obtener_GCelular_O_SiguienteCodigoCelular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GCelular_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_I" message="tns:ISWLNGAAP_Insertar_GCelular_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_IResponse" message="tns:ISWLNGAAP_Insertar_GCelular_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_CodigoUsuario" message="tns:ISWLNGAAP_Obtener_GCelular_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_CodigoUsuarioResponse" message="tns:ISWLNGAAP_Obtener_GCelular_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GCelular_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_A" message="tns:ISWLNGAAP_Actualizar_GCelular_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_AResponse" message="tns:ISWLNGAAP_Actualizar_GCelular_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GCelular_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_E" message="tns:ISWLNGAAP_Eliminar_GCelular_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_EResponse" message="tns:ISWLNGAAP_Eliminar_GCelular_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GTutorExterno_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GTutorExterno_I" message="tns:ISWLNGAAP_Insertar_GTutorExterno_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_GTutorExterno_IResponse" message="tns:ISWLNGAAP_Insertar_GTutorExterno_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GTutorExterno_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GTutorExterno_A" message="tns:ISWLNGAAP_Actualizar_GTutorExterno_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_GTutorExterno_AResponse" message="tns:ISWLNGAAP_Actualizar_GTutorExterno_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GTutorExterno_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_O" message="tns:ISWLNGAAP_Obtener_GTutorExterno_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_OResponse" message="tns:ISWLNGAAP_Obtener_GTutorExterno_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GTutorExterno_O_CodigoTutorExterno">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_O_CodigoTutorExterno" message="tns:ISWLNGAAP_Obtener_GTutorExterno_O_CodigoTutorExterno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_O_CodigoTutorExternoResponse" message="tns:ISWLNGAAP_Obtener_GTutorExterno_O_CodigoTutorExterno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GTutorExterno_E">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GTutorExterno_E" message="tns:ISWLNGAAP_Eliminar_GTutorExterno_E_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Eliminar_GTutorExterno_EResponse" message="tns:ISWLNGAAP_Eliminar_GTutorExterno_E_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoComplejaResponse" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_TodosResponse" message="tns:ISWLNGAAP_Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Verificar_GProyecto_CorrespondeRevision">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Verificar_GProyecto_CorrespondeRevision" message="tns:ISWLNGAAP_Verificar_GProyecto_CorrespondeRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Verificar_GProyecto_CorrespondeRevisionResponse" message="tns:ISWLNGAAP_Verificar_GProyecto_CorrespondeRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Etapa_SubEtapa_AvanzarEnFlujo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_AvanzarEnFlujo" message="tns:ISWLNGAAP_Actualizar_Etapa_SubEtapa_AvanzarEnFlujo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_AvanzarEnFlujoResponse" message="tns:ISWLNGAAP_Actualizar_Etapa_SubEtapa_AvanzarEnFlujo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_ProyectoCompleto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_ProyectoCompleto" message="tns:ISWLNGAAP_Insertar_ProyectoCompleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Insertar_ProyectoCompletoResponse" message="tns:ISWLNGAAP_Insertar_ProyectoCompleto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_EUsuarioCompleto_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_EUsuarioCompleto_O" message="tns:ISWLNGAAP_Obtener_EUsuarioCompleto_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_EUsuarioCompleto_OResponse" message="tns:ISWLNGAAP_Obtener_EUsuarioCompleto_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Descifrado">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Descifrado" message="tns:ISWLNGAAP_Descifrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/DescifradoResponse" message="tns:ISWLNGAAP_Descifrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cifrar_Cadena">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Cifrar_Cadena" message="tns:ISWLNGAAP_Cifrar_Cadena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Cifrar_CadenaResponse" message="tns:ISWLNGAAP_Cifrar_Cadena_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Empleado_Id_Emp_SedeAcademica">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_Empleado_Id_Emp_SedeAcademica" message="tns:ISWLNGAAP_Obtener_Empleado_Id_Emp_SedeAcademica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_Empleado_Id_Emp_SedeAcademicaResponse" message="tns:ISWLNGAAP_Obtener_Empleado_Id_Emp_SedeAcademica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_EmpleadoFotografia">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_EmpleadoFotografia" message="tns:ISWLNGAAP_Obtener_EmpleadoFotografia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNGAAP/Obtener_EmpleadoFotografiaResponse" message="tns:ISWLNGAAP_Obtener_EmpleadoFotografia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWLNGAAP" type="tns:ISWLNGAAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_GUsuarioRol_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioRol_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioRol_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioRol_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GUsuarioRol_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioRol_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuarioProyecto_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GUsuarioProyecto_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioProyecto_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuarioProyecto_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GUsuarioProyecto_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Eliminar_GUsuarioProyecto_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GProyecto_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GProyecto_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GProyecto_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GEtapa_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GEtapa_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_SiguienteCodigoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_SiguienteCodigoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GEtapa_A_EstadoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GEtapa_A_EstadoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GFormularioAceptacion_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GFormularioAceptacion_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GFormularioAceptacion_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GFormularioAceptacion_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GFormularioAceptacion_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GFormularioAceptacion_O_SiguienteCodigoFormularioAceptacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GSubEtapa_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GSubEtapa_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_CodigoUsuarioFirmaSubEtapa_EstadoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Etapa_SubEtapa_SaltarASubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_SaltarASubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_EstadoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GSubEtapa_A_EstadoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GObservacion_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GObservacion_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GObservacion_O_CodigoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GObservacion_A_EstadoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObsevacion_O_SiguienteCodigoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GObsevacion_O_SiguienteCodigoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuario_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GUsuario_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarios_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuarios_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_NombreCompletoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GUsuario_O_NombreCompletoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar_GUsuario_B_NombreCompletoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Buscar_GUsuario_B_NombreCompletoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuario_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GUsuario_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GRol_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GRol_O_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_UsuarioNetvalle_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_UsuarioNetvalle_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O_SiguienteCodigoCelular">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_SiguienteCodigoCelular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GCelular_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GCelular_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GCelular_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GCelular_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GCelular_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GCelular_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GCelular_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Eliminar_GCelular_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GTutorExterno_I">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_GTutorExterno_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GTutorExterno_A">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_GTutorExterno_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GTutorExterno_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GTutorExterno_O_CodigoTutorExterno">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GTutorExterno_O_CodigoTutorExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_GTutorExterno_E">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Eliminar_GTutorExterno_E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_GProyecto_O_CodigoUsuario_ProyectoCompleja_Todos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verificar_GProyecto_CorrespondeRevision">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Verificar_GProyecto_CorrespondeRevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Etapa_SubEtapa_AvanzarEnFlujo">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Actualizar_Etapa_SubEtapa_AvanzarEnFlujo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_ProyectoCompleto">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Insertar_ProyectoCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_EUsuarioCompleto_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_EUsuarioCompleto_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Descifrado">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Descifrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cifrar_Cadena">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Cifrar_Cadena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Empleado_Id_Emp_SedeAcademica">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_Empleado_Id_Emp_SedeAcademica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_EmpleadoFotografia">
      <soap:operation soapAction="http://tempuri.org/ISWLNGAAP/Obtener_EmpleadoFotografia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWLNGAAP">
    <wsdl:port name="BasicHttpBinding_ISWLNGAAP" binding="tns:BasicHttpBinding_ISWLNGAAP">
      <soap:address location="http://localhost:51705/SWLNGAAP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>